* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: ui-monospace, monospace;
  background-color: #000;
}

#app {
  height: 100%;
  background-color: #000;
}

.height-100 {
  height: 100%;
}
.width-100 {
  width: 100%;
}

.p-s {
  padding: 8px;
}
.p-m {
  padding: 16px;
}
.p-l {
  padding: 32px;
}
.p-x-s {
  padding-left: 8px;
  padding-right: 8px;
}
.p-x-m {
  padding-left: 16px;
  padding-right: 16px;
}
.p-x-l {
  padding-left: 32px;
  padding-right: 32px;
}
.p-y-s {
  padding-top: 8px;
  padding-bottom: 8px;
}
.p-y-m {
  padding-top: 16px;
  padding-bottom: 16px;
}
.p-y-l {
  padding-top: 32px;
  padding-bottom: 32px;
}


.block {
  display: block;
}

.flex {
  display: flex;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
.gap-s {
  gap: 8px;
}
.gap-m {
  gap: 16px;
}
.gap-l {
  gap: 32px;
}
.grow {
  flex-grow: 1;
}

.button-primary {
  color: #fff;
  padding: 8px 16px;
  background-color: #333;
  border: 2px solid #333;
  border-radius: 4px;
  cursor: pointer;
}
.button-primary:hover {
  background-color: #666;
  border: 2px solid #666;
}
.button-primary:disabled {
  background-color: #000;
  border: 2px solid #333;
  cursor: auto;
}

.pointer {
  cursor: pointer;
}

.text-base {
  color: #fff;
}
.text-base:disabled {
  color: #666;
}

.message {
  color: #fff;
  padding: 8px 16px;
  background-color: #000;
  border: 2px solid #333;
  border-radius: 4px;
}
