/* Custom styles if needed, mostly relying on beercss */
body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  overflow: hidden;
  /* App-like feel */
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}
